html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.page-header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: auto;
}

.logo {
    margin-left: 20px;
    width: 70px;
    height: 70px;
}

.site-name {
    font-size: 34px;
    margin-left: 22px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
}

.main-navigation {
    background-color: #f2f2f2;
    box-sizing: content-box;
    min-width: 180px;
    max-width: 180px;
    padding: 15px 15px;
    flex: 1;
    top: calc(8px + 7em);
    overflow-x: auto;
    }

.site-navigation {
    text-align: center;
    /*width: fit-content;*/
    z-index: 100;
    position: absolute;
    list-style: none;
    font-size:21px;
    min-width: 180px;
    max-width: 180px;
    padding-left: 0;
}

.site-navigation-item {
    margin-bottom: 25px;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #9d3e28;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-item a:hover {
  color: #aa5540;
}

.site-navigation-item a:active {
  color: #541f1d;
}

main {
    padding: 15px;
    box-sizing: border-box;
    flex: 4;
    font-size: 21px;
    width: auto;
}

p {
    line-height: 30px;
}

.java-oop {
    display: flex;
    align-items: center;
}

.spring {
    display: flex;
    align-items: center;
}

.spring-txt {
    padding-left: 15px;
}

.main-block {
    min-height: 553px;
    min-width: 800px;
}

.table-block {
    min-width: 800px;
    margin-bottom: 50px;
}

.graph-img {
    min-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vacancy-list-element {
    margin-bottom: 100px;
}

.vacancy-list {
    list-style: none;
    padding-left: 0;
}

.vacancy-name{
    margin-top: 20px;
    margin-bottom: 15px;
}

.description {
    margin-top: 0;
    padding-top: 0;
    padding-left: 35px;
    overflow: hidden;
    height: 110px;
}

.description > * {
    padding-top: 0;
    margin-top: 0;
}

.description > div > * {
    padding-top: 0;
    margin-top: 0;
}

.more-button {
    margin-left: 10px;
}

.vacancy-parametr {
    padding-top: 15px;
    padding-left: 35px;
    margin-bottom: 60px;
}

.parametr {
    margin-top: 5px;
    margin-bottom: 0;
}

.up-button {
    position: fixed;
    z-index: auto;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #9d3e28;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    margin-right: 87%;
}

.shown {
    display: inline-block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

th {
    text-align: left; !important;
}

tr:nth-child(even) {
    background: #d4d4d4;
}

th, td {
    padding: 10px 30px;
}

th {
    border-bottom: 1px solid #d4d4d4;
}