body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.page-header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: auto;
}

.logo {
    margin-left: 20px;
    width: 70px;
    height: 70px;
}

.site-name{
    font-size: 34px;
    margin-left: 22px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    width: 1366px;
    margin: 0 auto;
    min-height: 300px;
}

.main-navigation {
    background-color: #f2f2f2;
    box-sizing: content-box;
    width: auto;
    padding: 15px;
    flex: 1;
    top: calc(8px + 7em);
    overflow-x: auto;
    }

.site-navigation {
    text-align: center;
    z-index: 100;
    position: absolute;
    list-style: none;
    font-size:21px;
}

.site-navigation-item {
    margin-bottom: 25px;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  color: #9d3e28;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-item a:hover {
  color: #aa5540;
}

.site-navigation-item a:active {
  color: #541f1d;
}

main {
    padding: 15px;
    box-sizing: border-box;
    flex: 4;
    font-size: 21px;
    width: auto;
}

p{
    line-height: 30px;
}

.java-oop{
    display: flex;
    align-items: center;
}

.spring{
    display: flex;
    align-items: center;
}

.spring-txt{
    padding-left: 15px;
}

.geo-graph-img {
    padding-top: -200px;
}

.main-block{
    min-height: 553px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}