{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="page-header">
            <p>
                <img class="logo" src="{% static '/images/logo.jpg' %}" alt="Логотип сайта">
            </p>
            <h1 class="site-name">{% block header %}{% endblock %}</h1>
        </div>    
    </header>
    <div class="block">
        <nav class="main-navigation">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="{%  url '' %}">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'demand_page' %}">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'geography_page' %}">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'skills_page' %}">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'vacancies_page' %}">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        <main class="main_block">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <div><h3>ФИО студента:</h3> Штаппер Григорий Алексеевич</div>
        <div><h3>Академическая группа:</h3> РИ-220944</div>
    </footer>
    <script src={% static 'script.js' %}></script>
</body>
</html>
