<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Год</th>
      <th>Средняя зарплата</th>
      <th>Количество вакансий</th>
      <th>Средняя зарплата
Java-разработчика</th>
      <th>Количество вакансий
Java-разработчика</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2003</td>
      <td>23443.0</td>
      <td>1983</td>
      <td>32616.0</td>
      <td>21</td>
    </tr>
    <tr>
      <td>2004</td>
      <td>26111.0</td>
      <td>7833</td>
      <td>38487.0</td>
      <td>101</td>
    </tr>
    <tr>
      <td>2005</td>
      <td>29434.0</td>
      <td>16020</td>
      <td>28787.0</td>
      <td>280</td>
    </tr>
    <tr>
      <td>2006</td>
      <td>33490.0</td>
      <td>33321</td>
      <td>39387.0</td>
      <td>826</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>35615.0</td>
      <td>53562</td>
      <td>40818.0</td>
      <td>1276</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>34126.0</td>
      <td>75070</td>
      <td>33713.0</td>
      <td>1789</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>26238.0</td>
      <td>52889</td>
      <td>33043.0</td>
      <td>1383</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>24739.0</td>
      <td>93494</td>
      <td>30476.0</td>
      <td>2892</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>25401.0</td>
      <td>142458</td>
      <td>31673.0</td>
      <td>4436</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>26013.0</td>
      <td>173896</td>
      <td>29769.0</td>
      <td>5277</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>27136.0</td>
      <td>234017</td>
      <td>27606.0</td>
      <td>7162</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>26301.0</td>
      <td>259569</td>
      <td>25729.0</td>
      <td>8925</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>25766.0</td>
      <td>284762</td>
      <td>24957.0</td>
      <td>10458</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>28259.0</td>
      <td>332451</td>
      <td>33401.0</td>
      <td>13228</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>29875.0</td>
      <td>391464</td>
      <td>36091.0</td>
      <td>15115</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>32984.0</td>
      <td>517670</td>
      <td>42450.0</td>
      <td>17158</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>32826.0</td>
      <td>535956</td>
      <td>37766.0</td>
      <td>18740</td>
    </tr>
    <tr>
      <td>2020</td>
      <td>33459.0</td>
      <td>611885</td>
      <td>35391.0</td>
      <td>22703</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>37172.0</td>
      <td>943148</td>
      <td>44250.0</td>
      <td>30578</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>46177.0</td>
      <td>887539</td>
      <td>47226.0</td>
      <td>23589</td>
    </tr>
    <tr>
      <td>2023</td>
      <td>42491.0</td>
      <td>683702</td>
      <td>34456.0</td>
      <td>17340</td>
    </tr>
  </tbody>
</table>