{% extends 'base.html' %}
{% load static %}

{% block title %}
Востребованность
{% endblock %}

{% block header %}
Подробная информация о вакансиях с Java
{% endblock %}

{% block content %}
<div class="demain-table-block table-block">
    <h2>Динамика уровня зарплат и количества вакансий</h2>
    {% include 'demain_table.html' %}
</div>
<div class="demain-graph-block graph-block">
    <h2>Грифики зарплат и вакансий</h2>
    <img class="demain-graph-img graph-img" src="{% static '/images/plot.png' %}" alt="График">
</div>
{% endblock %}
