<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Год</th>
      <th>Динамика уровня средней зарплаты по годам</th>
      <th>Динамика количества вакансий по годам</th>
      <th>Динамика уровня средней зарплаты по годам
для профессии Java-разработчика</th>
      <th>Динамика количества вакансий по годам
для профессии Java-разработчика</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2017</td>
      <td>61738</td>
      <td>45</td>
      <td>160000</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>67817</td>
      <td>89</td>
      <td>103599</td>
      <td>2</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>75066</td>
      <td>114</td>
      <td>120907</td>
      <td>4</td>
    </tr>
    <tr>
      <td>2020</td>
      <td>76528</td>
      <td>181</td>
      <td>157352</td>
      <td>5</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>103986</td>
      <td>274</td>
      <td>234387</td>
      <td>5</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>88712</td>
      <td>230</td>
      <td>151082</td>
      <td>4</td>
    </tr>
    <tr>
      <td>2023</td>
      <td>93270</td>
      <td>67</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>