{% extends 'base.html' %}
{% load static %}

{% block title %}
Востребованность
{% endblock %}

{% block header %}
Подробная информация о вакансиях с Java
{% endblock %}

{% block content %}
<h2>Динамика уровня зарплат и количества вакансий</h2>
<div class="demain-table-block">
    {% include 'demain_table.html' %}
</div>
<div class="demain-graph-block">
    <p>Грифики зарплат и вакансий</p>
    <img class="demain-graph-img" src="{% static '/images/plot.png' %}" alt="График">
</div>
{% endblock %}
