<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Город</th>
      <th>Уровень зарплат_x</th>
      <th>Доля вакансий_x</th>
      <th>Уровень зарплат_y</th>
      <th>Доля вакансий_y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Москва</td>
      <td>127184</td>
      <td>2.020548</td>
      <td>208708</td>
      <td>0.285714</td>
    </tr>
    <tr>
      <td>Санкт-Петербург</td>
      <td>95290</td>
      <td>0.767123</td>
      <td>229093</td>
      <td>0.095238</td>
    </tr>
    <tr>
      <td>Екатеринбург</td>
      <td>65764</td>
      <td>0.116438</td>
      <td>195000</td>
      <td>0.047619</td>
    </tr>
    <tr>
      <td>Алматы</td>
      <td>62977</td>
      <td>0.184932</td>
      <td>70763</td>
      <td>0.047619</td>
    </tr>
    <tr>
      <td>Минск</td>
      <td>62314</td>
      <td>0.178082</td>
      <td>164316</td>
      <td>0.095238</td>
    </tr>
    <tr>
      <td>Ростов-на-Дону</td>
      <td>59978</td>
      <td>0.136986</td>
      <td>90000</td>
      <td>0.047619</td>
    </tr>
  </tbody>
</table>