{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="page-header">
            <p>
                <img class="logo" src="{% static '/images/logo.jpg' %}" alt="Логотип сайта">
            </p>
            <h1 class="site-name">Подробная информация о вакансиях с Java</h1>
        </div>    
    </header>
    <div class="block">
        <nav class="main-navigation">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="{%  url '' %}">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'demand_page' %}">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'geography_page' %}">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'skills_page' %}">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'vacancies_page' %}">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        <main class="main-block">
            <h2>Описание профессии Java-разработчика</h2>
            <div class="java-oop">
                <p class="java-oop-txt">Профессия Java-разработчика представляет собой увлекательный и востребованный вид 
                деятельности в области информационных технологий. Java — это мощный, объектно-ориентированный 
                язык программирования, используемый для создания разнообразных приложений, начиная от веб-сайтов 
                и мобильных приложений до корпоративных систем и встраиваемых устройств.</p>
                <img class="java-oop-img" src="{% static 'images/oop.jpg' %}" height="50%" width="50%" alt="ООП">
            </div>
            <p>Основные обязанности java-разработчика включают в себя проектирование, разработку, 
                тестирование и поддержку программного обеспечения на языке Java. Эти специалисты работают 
                над созданием эффективных и надежных решений, способных решать широкий спектр задач.</p>
            <p>Первый этап работы java-разработчика — это анализ требований заказчика. От его понимания 
                зависит успешное создание программного продукта. Далее следует этап проектирования, на 
                котором определяется структура приложения, выбираются подходящие технологии и создаются 
                детальные планы разработки.</p>
            <div class="spring">
                <img class="spring-img" src="{% static 'images/spring.jpg' %}" height="50%" width="50%" alt="Spring">
                <div class="spring-txt">
                    <p>Сам процесс программирования включает в себя написание кода на языке Java, использование 
                        различных фреймворков (например, Spring, Hibernate) и инструментов разработки. Java-разработчики 
                        также отвечают за обеспечение безопасности приложений и оптимизацию их производительности.</p>
                    <p>Тестирование является неотъемлемой частью работы java-разработчика. Они проверяют правильность 
                        функционирования приложений, выявляют и устраняют ошибки, а также оптимизируют код 
                        для повышения производительности.</p>
                </div>
            </div>            
            <p>После завершения разработки java-разработчики обеспечивают поддержку и обновление приложений. 
                Это включает в себя реагирование на обратную связь пользователей, исправление выявленных проблем, 
                добавление новых функций и обновление зависимостей.</p>
            <p>Одной из ключевых характеристик успешного java-разработчика является непрерывное обучение. 
                Сфера информационных технологий постоянно развивается, и профессионалы должны следить за 
                новыми тенденциями, технологиями и методологиями разработки.</p>
            <p>Карьера java-разработчика может развиваться в различных направлениях, включая специализацию в 
                определенных областях, таких как веб-разработка, мобильные приложения, большие данных или облачные 
                вычисления. Также, опытные java-разработчики могут занимать руководящие позиции, такие как 
                технический лидер или архитектор программного обеспечения.</p>
            <p>Java-разработчикам требуется не только глубокие знания языка программирования, но и умение работать 
                в команде, аналитические навыки, ответственность и стремление к самосовершенствованию. Эта профессия 
                предоставляет широкие возможности для профессионального роста и творческой реализации.</p>
        </main>
    </div>
    <footer>
        <div><h3>ФИО студента:</h3> Штаппер Григорий Алексеевич</div>
        <div><h3>Академическая группа:</h3> РИ-220944</div>
    </footer>
</body>
</html>