{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Последние вакансии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body bgcolor="white">
    <header>
        <p>
            <img src="{% static '/images/logo.jpg' %}" width="64" height="64" alt="Логотип сайта">
        </p>
        <h1 class="site-name">Подробная информация о вакансиях с Java</h1>
    </header>
    <div class="main-block" style="display: flex">
        <nav>
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="{%  url '' %}">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'demand_page' %}">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'geography_page' %}">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'skills_page' %}">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{%  url 'vacancies_page' %}">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        <main>
            <h2>Последние вакансии</h2>
            <p>Тут будет таблица</p>
            <p>Тут будет график</p>
        </main>
    </div>
    <footer>
        <div><h3>ФИО студента:</h3> Штаппер Григорий Алексеевич</div>
        <div><h3>Академическая группа:</h3> РИ-220944</div>
    </footer>
</body>
</html>