{% extends 'base.html' %}

{% block title %}
Последние вакансии
{% endblock %}

{% block header %}
Подробная информация о вакансиях с Java
{% endblock %}

{% block content %}
    <h2>Последние вакансии</h2>
    <ul class="vacancy-list">
        {% for vacancy in vacancies_page %}
            <li class="vacancy-list-element">
                <h3 class="vacancy-name">{{ vacancy.name }}</h3>
                <article class="description-short">
                    <div class="description">{{ vacancy.description|safe }}</div>
                    <button class="more-button" type="button">Раскрыть</button>                    
                </article>
                <div class="vacancy-parametr">
                    <p class="parametr"><strong>Навыки:</strong> {{ vacancy.key_skills }}</p>
                    <p class="parametr"><strong>Компания:</strong> {{ vacancy.employer.name }}</p>
                    <p class="parametr"><strong>Оклад:</strong> {{ vacancy.salary.from }} - {{ vacancy.salary.to }} {{ vacancy.salary.currency }}</p>
                    <p class="parametr"><strong>Регион:</strong> {{ vacancy.area.name }}</p>
                    <p class="parametr"><strong>Дата публикации:</strong> {{ vacancy.published_at }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}